@import "../../../assets/stylesheet/default.scss";

.header {
  height: 54px;
  background-color: #fff;
  box-shadow: $box-shadow;
  .navbar {
    height: 54px;
    .navbar-brand {
      color: #c20a0a;
      //   font-size: 1.7rem !important;
      //   font-weight: 600;
    }
    .navbar-nav {
      display: flex;
      flex-direction: row;
      .btn {
        margin-right: 15px;
      }
      .nav-item {
        padding-top: 7px;
        .nav-link:hover,
        .nav-link.active {
          background-color: #dd4343;
          color: white;
          box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
          border-radius: 0.2rem !important;
        }
      }
    }
    a {
      font-size: 1.1rem;
      color: #c20a0a;
    }
    .dropdown-item:active {
      background-color: #c20a0a;
    }
  }
}
