@import "../../../assets/stylesheet/default.scss";

.most-film {
	.card-header {
		font-size: 1.5rem;
		color: #6b6b6b;
		padding-left: 30px;
		font-weight: 450;
		background-color: transparent;
	}
	.card-body {
		display: flex !important;
	}
}
