@import '../../../assets/stylesheet/default.scss';

.confirm-modal {
	padding: 20px 10px;
	margin-top: 30px;
	&__content {
		text-align: center;
		color: #505050;
	}
	&__btns {
		text-align: center;
		margin: 20px auto;
		bottom: 10px;
		position: absolute;
		display: flex;
		justify-content: center;
		width: 100%;
		.btn {
			width: 80px;
			border: 2px solid $sub-main-color;
			padding: 5px 10px;
			margin: auto 20px;
			background-color: $sub-main-color;
			color: #fff !important;
			&:hover {
				cursor: pointer;
				box-shadow: $box-shadow;
			}
			&:focus {
				outline: none;
			}
		}
	}
}
