@import "../../../assets/stylesheet/default.scss";

.f-login {
	background-color: rgba(217, 207, 159, 0.4);
	box-shadow: 0 1px 10px 1px rgba(23, 19, 29, 0.81);
	border-radius: 0.1875rem;
	z-index: 10;
	color: #ffffff;
	font-weight: bold;
	font-size: 1rem;
	margin-top: 50px !important;
	.lay-lai-mat-khau {
		justify-content: center;
		align-content: center;
		padding-top: 15px;
	}
	.confirm {
		display: none;
	}
}
