@import "../../../assets/stylesheet/default.scss";

.page-login-sign-intro {
	margin-bottom: 220px;

	.card {
		height: 100%;
		display: flex;
		flex-direction: row;
		border: 1px solid #c20a0a;
		// box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
		border-radius: 0.1875rem;
		background-image: url("../../../assets/img/Kubo-Samurai-Quest.jpg");
		background-color: rgba(229, 203, 129, 1);

		.form {
			width: 100%;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: flex-start;
		}
	}
}